{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container">
    <h1>About</h1>
    <p>Tourneyman is a web application designed to help you manage tournaments and track player statistics.</p>
    <p>It was created by Matthew Sun, a software developer based in the United States.</p>
    <p>This project is still in development! You can view the repository or contribute to the project <a href="https://github.com/matthewysun2020/tourneyman" target="_blank">here</a>.</p>
</div>
{% endblock %}
