<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Register Contestants</title>
</head>

<body>
    <h1>Register Contestants</h1>
    <form action="/players" method="post">
        Select Tournament: <select name="id">
            {% for tournament in tournaments %}
            <option value='{{ tournament.tournament_id }}'>Tournament {{ tournament.tournament_id }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Submit</button>
    </form>
    <button onclick="window.location='/'">Back to Home</button>
</body>
</html>