<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Bracket</title>
</head>

<body>
    <h1>Bracket for Tournament {{ id }}</h1>
    <p>Placeholder for bracket page. Coming soon!</p>
    <button onclick="window.location='/players'">Back to Tournament Select</button>
    <button onclick="window.location='/'">Back to Home</button>
    <script>
        function single_elim() {

        }
        function double_elim() {

        }
        function round_robin() {
            // pull and display leaderboard
        }
        function dutch_swiss() {
            // if seeded
        }
        function monrad_swiss() {
            // if not seeded
        }
    </script>
</body>
</html>