<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Tourneyman Navigation</title>
</head>
<body>
    <div class="container">
        <h1>Tournament Navigation</h1>
        <a href="/new" class="link">New Tournament</a>
        <a href="/entry" class="link">Enter Tournament</a>
        <a href="/match" class="link">Submit Match Result</a>
        <a href="/bracket" class="link">View Bracket</a>
        <a href="/players" class="link">View Player List</a>
    </div>
</body>
</html>

