<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.default.css">
    <title>Submit Match Result</title>
</head>
<body>
    <h1>Submit Match Result</h1>
    <form action="/match/submit" method="post">
        Tournament ID:
        <select id="tournament_id" name="tournament_id">
            <option value="" selected disabled>Select a tournament...</option>
            {% for tournament in tournaments %}
            <option value='{{ tournament.tournament_id }}'>Tournament {{ tournament.tournament_id }}</option>
            {% endfor %}
        </select><br>

        Player 1: <select id="player1" name="player1"></select><br>
        Player 2: <select id="player2" name="player2"></select><br>

        Winner:
        <input type="radio" id="winner_player1" name="winner" value="player1">
        <label for="winner_player1">Player 1</label>
        <input type="radio" id="winner_player2" name="winner" value="player2">
        <label for="winner_player2">Player 2</label><br>

        <button type="submit">Submit</button>
    </form>
    <button onclick="window.location='/'">Back to Home</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tournament_id').selectize({
                onChange: function (tournament_id) {
                    if (!tournament_id) return;
                    $.ajax({
                        url: '/get_players/' + tournament_id,
                        type: 'GET',
                        success: function (data) {
                            var player1_select = $('#player1').selectize()[0].selectize;
                            var player2_select = $('#player2').selectize()[0].selectize;

                            player1_select.clearOptions();
                            player2_select.clearOptions();

                            for (var i = 0; i < data.players.length; i++) {
                                player1_select.addOption({ value: data.players[i], text: data.players[i] });
                                player2_select.addOption({ value: data.players[i], text: data.players[i] });
                            }
                        }
                    });
                }
            });
            $('#player1').selectize();
            $('#player2').selectize();
        });
    </script>
</body>
</html>
