<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Submit Match Result</title>
</head>
<body>
    <h1>Submit Match Result</h1>
    <form action="/match/submit" method="post">
        Player 1: <input type="text" name="player1"><br>
        Player 2: <input type="text" name="player2"><br>
        Result: <input type="text" name="result"><br>
        Tournament ID: <input type="number" name="tournament_id"><br>
        <button type="submit">Submit</button>
    </form>
    <button onclick="window.location='/'">Back to Home</button>
</body>
</html>
