<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Create Tournament</title>
</head>
<body>
    <h1>Create Tournament</h1>
    <form action="/new/submit" method="post">
        Tournament ID: <input type="number" name="tournament_id"><br>
        Format: <select name="format">
            <option value="single">Single Elimination</option>
            <option value="double">Double Elimination</option>
            <option value="round">Round Robin</option>
            <option value="swiss">Swiss format</option>
        </select><br>
        <button type="submit">Submit</button>
    </form>
    <button onclick="window.location='/'">Back to Home</button>
</body>
</html>

