<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/css/selectize.default.css">
    <title>Select Tournament</title>
</head>

<body>
    <h1>Select Tournament</h1>
    <form action="/players" method="post">
        <input id="hidden_field" type="hidden" name="origin" value="players">
        Tournament ID: <select name="id">
            {% for tournament in tournaments %}
            <option value='{{ tournament.tournament_id }}'>Tournament {{ tournament.tournament_id }}</option>
            {% endfor %}
        </select><br>
        <button type="submit">Submit</button>
    </form>
    <button onclick="window.location='/'">Back to Home</button>
    <script>
        document.getElementById("hidden_field").original_url.value = "players";
    </script>
</body>
</html>
